*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(137, 133, 145);
}
body{
    background-color: rgb(0, 0, 0);
}
header{
    box-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(90, 28, 119);
}
nav{
    width: 800px;
    height: 100px;
    display: flex;
    box-align: center;
    align-items: center;
    justify-content:space-between;
    margin: auto;
}
#h1{
    font-size: 60px;
    position: relative;
    font-style: halant;
}
#categorias{
    position: relative;
    font-size: 20px;
}

#peliculas{
    position: relative;
    font-size: 20px;
}
#series{
    position: relative;
    font-size: 20px;
}
#buscar{
    position: relative;
    top: 2px;
    width: 25px;
    height: 25px;
}
#cuerpo{
    box-sizing: content-box;
    padding: 20px;
    margin: auto;
    align-self: center;
    width: 800px;
    background-color: rgba(61, 20, 77, 0.226);
}
h1{
    margin-top: 5px;
    font-size: 60px;
}
#pelicula{
    float: left;;
    width: 400px;
}
#datos{
    height: 600px;
    box-align: center;
    align-items: center;
    justify-content: space-around;
    float: left;
    width: 400px;
    align-items: center;
}
p{
    margin: 15px;
    font-size: 20px;
}
#estrellas{
    position: relative;
    top: 5%;
    width: 250px;
    margin: auto;
    display: block;
}
h2{
    position: relative;
    left: 32%;
    top: 10%;
    display: inline-block;
    font-size: 30px;
}
#plataforma{
    position: relative;
    width: 250px;
    margin: auto;
    margin-top: 60px;
    display: block;
}
#sinopsis{
    margin-top: 10px;
    float: none;
    width: 800px;
    font-size: 20px;
}
#sinopsis > h3{
    font-size: 40px;
    margin: 10px;
    margin-top: 30px;
}
h3{
    font-size: 40px;
    margin: 10px;
    margin-top: 30px;
}
#trailer{
    width: 560px;
    margin: auto;
    display: block;
    height: 316px;
}
input{
    display: block;
    margin: auto;
    height: 700px;
    width: 750px;
    background-color: antiquewhite;
}
footer{
    background-color: rgb(67, 12, 92);
    width: 100%;
    height: 200px;
}
@media (max-width: 800px) {
    header{
        height: 90px;
    }
    nav{
        height: 90px;
        width: 350px;
    }
    #h1{
        font-size: 30px;
    }
    #categorias{
        font-size: 10px;
    }
    #cuerpo{
        width: 350px;
    }
    #peliculas{
        font-size: 10px;
    }
    #series{
        font-size: 10px;
    }
    h1{
        font-size: 35px;
        margin: 0;
    }
    #pelicula{
        width: 200px;
    }
    #datos{
        width: 150px;
        height: 300px;
    }
    p{
        margin: 4px;
        font-size: 8px;
    }
    #estrellas{
        width: 90px;
    } 
    h2{
        font-size: 10px;
    }
    #plataforma{
        width: 150px;
        margin-top: 20px;
    }
    #sinopsis{
        margin-top: -70px;
        float: none;
        width: 350px;
        font-size: 8px;
    }
    h3{
        font-size: 20px;
        margin-top:  15px;
    }
    #trailer{
        width: 300px;
        height: 150px;
        margin-bottom: 30px;
    }
    input{
        height: 300px;
        width: 300px;
    }
    footer{
        width: 100%;
        height: 100px;
    }
}
